*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

h1{
    color: black;
    margin: 32px 0;
    text-align: center;
  
}



h2{
    margin-bottom: 24px;    
}


button{
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: indigo;
    color: wheat;
    border-radius: 5px;
    box-shadow: 2px 4px 8px gray;

}

body{
    background-image: url(./assets/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: aliceblue;   
}
/* selector por ID */
#profileCard{
    background: linear-gradient(to bottom, rgba(150, 215, 108, 1) 3%,rgba(150, 215, 108, .2), rgba(255,255,255,.1)), url(./assets/28478-matrix.png);
}

#card{  
    background-color:azure;
    width: 50%;
    min-width: 350;
    max-width: 450;
    /* el auto en la segunda posición reparte mitad y mitad a los lados */
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 2px 4px 24px lightslategray;
    overflow: hidden;
}

/* selector compuesto */
#card > img{
    max-width: 100%;
    /* border-radius: 10px 10px 0 0; */

}

#container{
    padding: 36px;
    text-align: center;
}

.description{
    font-size: 16px;
    color: gray;
    margin-bottom: 24px;

}

.details{
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-radius: 5px;
}

.mb{
    margin-bottom: 24px;
}

.link{
    text-decoration: none;
    font-size: 12px;
    color: #4f4f4f;
    font-weight: 600;
}

.link:hover{
    color: blue;
}

.avatar{
    text-align: center;
    vertical-align: middle;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.foto{
    width: 100%;
    color: red;
    align-items: center;
}